# Python
.venv/
__pycache__/
*.pyc

# Visual Studio
*.code-workspace
.vscode/

# Data
data/raw/*
data/staging/*
data/curated/*

# Keep structure, not files
!data/raw/.gitkeep
!data/staging/.gitkeep
!data/curated/.gitkeep
